*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input{
    padding: 10px 50px;
    margin: 5px 0;
}
h2{
    margin: 10px 0;
}
.form{
    background-color: white;
    width: 400px;
    text-align: center;
    padding: 30px 10px;
    border-radius: 5px ;
    box-shadow:5px 5px 5px gray;
    margin-left: 380px;

}
body{
    background-color: #c8b7b7;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80vh;
}
button{
    width: 30%;
    height: 30px;
    background-color: blue;
    border-radius: 5px ;
    border: none;
    color: white;

}
button:hover{
    color: yellow;
}